{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/c3.min.css">

<div class="row">
    <br>
    <div id="score-graph"></div>
    <br>
    
    <table id="scoreboard">
        <thead>
            <tr>
                <td><b>Place</b>
                </td>
                <td><b>Team</b>
                </td>
                <td><b>Score</b>
                </td>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr><td>{{ loop.index }}</td><td><a href="/team/{{ team.teamid }}">{{ team.name }}</a></td><td>{{ team.score }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/c3.min.js"></script>
    <script src="/static/js/scoreboard.js"></script>
{% endblock %}